VITE_SUPABASE_URL=https://thquldrrgvuplduxhdwu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRocXVsZHJyZ3Z1cGxkdXhoZHd1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDczOTEwNjcsImV4cCI6MjA2Mjk2NzA2N30.W9MzBLEUA-rCppyymNJvY_w_dRxzTrrt23YsmL183Ro